# Core
numpy==1.26.4

# Logistic Regression & TF-IDF
scikit-learn==1.5.1
joblib==1.4.2

# BiLSTM
tensorflow==2.17.1


# DeBERTa
torch==2.5.1
transformers==4.40.1

# FastAPI & serving
fastapi==0.115.0
uvicorn==0.30.6
